# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
dist_electron
database.sqlite

# Media & Scratch
*.mp4
*.m4a
*.ass
scratch/
scratch_*
temp*
old_*
test*
rebuild_karaoke.py
renderer_debug.txt
export_debug.json
cache/

